{project_plugins, [rebar3_ex_doc]}.

{plugins, [rebar3_hex]}.

{deps, [
    {alara, "0.1.5"}
]}.

{shell, [
    {apps, [alara_uuid]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{hex, [
    {doc, ex_doc}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/Green-Mice/alara_uuid"},
    {api_reference, true}
]}.

